/* html {
  background: url("./images/showcase.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // Add the blur effect 
  filter: blur(20px);
  -webkit-filter: blur(20px); 
} */

/* 
 */

.landingStyle {
  padding-top: 10%;
}
.weatherCardResult {
  padding-top: 3%;
}
.card {
  /* background-color: rgba(255, 255, 255, 0) !important; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonBorder {
  border-radius: 22px;
}

.whiteBackground {
  background-color: white;
}
.transparentBackground {
  background-color: rgba(255, 255, 255, 0) !important;
}
.textPadding {
  padding-top: 5px;
  padding-bottom: 5px;
}
textarea:focus,
input:focus {
  outline: none;
}
.dropdownHeight {
  max-height: 200px;
  overflow: auto;
}
.nopadding {
  /* padding: 0 !important; */
  /* margin: 0 !important; */
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

.carousel-control-next {
  filter: invert(100%);
  /* margin-right: -25px; */
}
.carousel-control-prev {
  filter: invert(100%);
  /* margin-left: -25px; */
}

/* @import "loaders.css/src/animations/ball-pulse-sync.scss";

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
} */

.footer {
  grid-area: footer;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 10;
}

/* Heart Icon
--------------------------------------------- */

.footer .icon {
  font-size: 20px;
}

.footer .love .icon {
  font-size: 12px;
  margin-left: 2px;
  margin-right: 2px;
}
