/* html {
  background: url("./images/showcase.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // Add the blur effect 
  filter: blur(20px);
  -webkit-filter: blur(20px); 
} */

/* 
 */

.landingStyle {
  padding-top: 10%;
}
.weatherCardResult {
  padding-top: 3%;
}
.card {
  /* background-color: rgba(255, 255, 255, 0) !important; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonBorder {
  border-radius: 22px;
}

.whiteBackground {
  background-color: white;
}
.transparentBackground {
  background-color: rgba(255, 255, 255, 0) !important;
}
.textPadding {
  padding-top: 5px;
  padding-bottom: 5px;
}
textarea:focus,
input:focus {
  outline: none;
}
.dropdownHeight {
  max-height: 200px;
  overflow: auto;
}
.nopadding {
  /* padding: 0 !important; */
  /* margin: 0 !important; */
}
