/* html {
  background: url("./images/showcase.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // Add the blur effect 
  filter: blur(20px);
  -webkit-filter: blur(20px); 
} */

/* 
 */

.landingStyle {
  padding-top: 10%;
}

.card {
  background-color: rgba(255, 255, 255, 0) !important;
}

.buttonBorder {
  border-radius: 22px;
}

.whiteBackground {
  background-color: white;
}
.textPadding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nopadding {
  /* padding: 0 !important; */
  /* margin: 0 !important; */
}
